.titulo-seccion{
    color: rgb(249, 252, 255);
    text-align: center;
    }

.prada-news{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.Chocolate-prada{
    color: white;
    position: relative;
    position: absolute;
}

.pradi{
    display: flex;
    justify-content:space-between;
}


.imagenes {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.pradi2{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}

.pradanews-img{
    justify-content: space-between;
    display: flex;
}

.tale{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.lista{
     display: inline-block;
    justify-content:space-between;
}

.Winter{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.gallery{
    display: flex;
    justify-content: space-between;
}

.letra{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.cafe-prada{
    background-color: rgb(140, 39, 39);
    display: inline-flexbox;
    margin: auto;
    padding: 5px;
    border: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.choco{
    text-align: center;
}

.video{
    background-color: black;
    padding: auto;
    margin: 5px;
    border: 5px;
}

.lista2{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

.lista2 li {
    margin: 1rem;
}